{% extends 'base.html' %} {% block content %}
<h1>{{ lesson.title }}</h1>
<br />
<h3>Course Content:</h3>
<p>{{ lesson.description }}</p>
{% if user.is_authenticated %} {% if completed %}
<br />
<h5>You have completed this lesson.</h5>
{% else %}
<form method="post" action="{% url 'courses:mark_complete' lesson.pk %}">
  {% csrf_token %}
  <button type="submit">Mark as complete</button>
</form>
{% endif %} {% else %}
<p>
  <a href="{% url 'login' %}?next={{ request.path }}"
    >Log in to mark as complete</a
  >
</p>
{% endif %} {% endblock %}
