{% extends 'base.html' %} {% block content %}
<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>
{% if request.user.is_authenticated %} {% if enrolled %}
<!--If you are authenticated and enrolled to the course, show progress-->
{% if completed_lessons %}
<!--Show all the completed lessons-->
<h2>Completed Lessons:</h2>
<ul>
  {% for lesson in completed_lessons %}
  <li>
    <a href="{% url 'courses:lesson_detail' lesson.pk%}">{{lesson.lesson}}</a>
  </li>
  {% endfor %}
</ul>
{% endif %} {% if notCompleted_lessons %}
<h2>Pending Lessons:</h2>
<ul>
  {% for lesson in notCompleted_lessons %}
  <li>
    <a href="{% url 'courses:lesson_detail' lesson.pk%}">{{lesson.lesson}}</a>
  </li>
  {% endfor %}
</ul>
{% endif %} {% else %}
<h2>Lesson titles:</h2>
<ul>
  {% for lesson in lessons %}
  <li>{{lesson.title}}</li>
  {% endfor %}
</ul>
<!--If you aren't enrolled give an option to enroll-->
<form method="post" action="{% url 'profiles:enroll_course' course.pk %}">
  {% csrf_token %}
  <button type="submit">Enroll</button>
</form>
{% endif %} {% else %}
<!--If you aren't authenticated, goto login page-->
<p>
  <a href="{% url 'login' %}?next={{ request.path }}">Log in</a> to enroll to
  this course.
</p>
{% endif %} {% endblock %}
